# Global alias definitions
# This should be sourced by all bourne-compatible shells.

# Standard system tools
alias grep='grep --color=auto'
alias ll='ls -lh'
alias la='ls -lAh'
alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -i'
alias rmdir='rmdir -v'
alias mkdir='mkdir -p'

if [ $(uname -s) = "Linux" ] || [ $(uname -o) = 'Cygwin' ]; then
    # GNU variant
    alias ls='ls --color=auto'
    alias chmod='chmod -c'
    alias chown='chown -c'
elif [ $(uname -s) = "FreeBSD" ]; then
    # Unix / BSD variant
    alias ls='ls -G'
    alias chmod='chmod -vv'
    alias chown='chown -vv'
fi

# Trigger terminal bell, e.g. for highlighting when long operations finish
alias ding='tput bel'

# Dotfiles management
alias sgit='git --git-dir=$HOME/.dotfiles-shell.git/ --work-tree=$HOME'
alias ggit='git --git-dir=$HOME/.dotfiles-gui.git/ --work-tree=$HOME'

# OS-Specifics
if [ -f /etc/arch-release ]; then
    # pacman is only available on Arch Linux
    alias pacman='pacman --color=auto'
fi
